<h5>OrderEditComponent</h5>
<form (submit) ="update()">
  
    <input type="text" name="orderId" [(ngModel)]="orderEdit.orderId" >
    <input type="text" name="companyName"  [(ngModel)]="orderEdit.companyName" >
    <input type="text" name="customerAddress" [(ngModel)]="orderEdit.customerAddress" >
    <input type="text" name="orderedItem" [(ngModel)]="orderEdit.orderedItem" >
    <input type="text" name="orderCost" [(ngModel)]="orderEdit.orderCost" >
    <input type="text" name="orderDate" [(ngModel)]="orderEdit.orderDate" >
    <input type="submit">
    
  
  
  </form>