<h3>OrderNewComponent</h3>
<form (submit) ="create()">

  <input type="text" name="orderId" [(ngModel)]="newOrder.orderId" >
  <input type="text" name="companyName"  [(ngModel)]="newOrder.companyName" >
  <input type="text" name="customerAddress" [(ngModel)]="newOrder.customerAddress" >
  <input type="text" name="orderedItem" [(ngModel)]="newOrder.orderedItem" >
  <input type="text" name="orderCost" [(ngModel)]="newOrder.orderCost" >
  <input type="text" name="orderDate" [(ngModel)]="newOrder.orderDate" >
  <input type="submit">
  


</form>